*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
list-style: none;    
}
a, a:hover, a:focus{
    color: inherit;
    text-decoration: none;
}
p, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
}
:root{
    --btn-color:rgb(211, 77, 5);
    --hover-color:#f86011;
    --modal-btn-colo:#65bc7b;
}
/* NAVBAR */
.NavContainer{
    height: 100px;
    position: relative;
}
.navbar-row{
    width: 100%;
    align-items: center;
    margin: 0 auto;
}
.nav-names-container{
    align-items: center;
}
.logo-img{
    width: auto;
}
.nav-names{
    color: black;
    font-size: 17px;
    font-weight: 500;
    margin: 0 10px;
    position: relative;
}
.nav-names:hover span{
    color: var(--hover-color);
}
.DropDown-arrow {
    font-size: 14px;
    margin-left: 8px;
    font-weight: 500;
}
.navbar-phone-number:focus{
color: inherit;
}

.nav-names-bottom-line::after{
content: "";
    background:var(--hover-color);
    height: 2px;
    width: 40px;
    display: inline-block;
    width: 100%;
    position: absolute;
    left: 0;
    top: 77%;
    transition: 0.6s ease;
    opacity: 0;
}
.nav-names-bottom-line:hover::after{
  top: 100%;
  opacity: 1;
}
.home-DropDown-menu{
    position: absolute;
    background: #fff;
    white-space: nowrap;
    padding: 10px;
    width: 200px;
    border-radius: 12px;
    top: 166%;
    font-weight: 400;
    color: black;
    transition: 0.6s ease;
    opacity: 0;
    z-index: 1;
    box-shadow: 0px 1px 2px 1px #dfdfdf;
}
.home:hover .home-DropDown-menu{
    top: 100%;
    opacity: 1;
}
.service-DropDown-menu{
    position: absolute;
    background: #fff;
    white-space: nowrap;
    padding: 10px;
    border-radius: 12px;
    top: 166%;
    font-weight: 400;
    color: black;
    transition: 0.6s ease;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
    box-shadow: 0px 1px 2px 1px #dfdfdf;
}
.service-DropDown-menu-icon-container1{
    background-color: #0894ed47;
    border-radius: 50%;
    width: 51px;
    height: 49px;
    color: #0894ed;
    padding: 14px 15px;
    transition: 0.2s ease;
}
.service-DropDown-menu-icon-container1:hover{
    background-color: #0894ed;
    color: white;
}
.service-DropDown-menu-icon-container2{
    background-color: #ffc10040;
    color: #ffc100;
    border-radius: 50%;
    width: 51px;
    height: 49px;
    padding: 14px 15px;
    transition: 0.5s ease;
}
.service-DropDown-menu-icon-container2:hover{
    background-color: #ffc100;
    color: white;
}
.service-DropDown-menu-icon-container3{
    background-color: #0da50d42;
    color: #0da50dd1;
    border-radius: 50%;
    width: 51px;
    height: 49px;
    padding: 14px 15px;
    transition: 0.5s ease;
}
.service-DropDown-menu-icon-container3:hover{
color: white;
background-color: #0da50dd1;
}
.service-dropdown-menu-icon{
    font-weight: 600;
    font-size: 22px;
}
.service-DropDown-menu-content1,
 .service-DropDown-menu-content2,
  .service-DropDown-menu-content3{
margin: 0 17px;
}
.services:hover .service-DropDown-menu{
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.service-DropDown-menu-heading{
    font-size: 20px;
    margin-top: 15px;
}
.service-DropDown-menu-heading:hover{
    color: var(--hover-color);
}
.service-DropDown-menu-para{
white-space: pre-line;
margin-top: 10px;
cursor: auto;
}
.home-DropDown-menu:hover{
    color: var(--hover-color);
}
.navbar-btn-and-number-container{
    display: flex;
    align-items: center;
}
.phone-icon{
color: var(--hover-color);
margin-right: 17px;
}
.free-quote-btn{
    background: #ffe7da;
    border: none;
    padding: 16px 41px;
    border-radius: 13px;
    color: var(--hover-color);
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    transition: 0.5s ease;
}
.free-quote-btn:hover{
    background: var(--hover-color);
    color: white;
}
/* BG-IMAGE-SECTION */
.bg-img-container{
    background-image: url(assets/images/marketing-intro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
.bg-img-row{
    padding-bottom: 160px !important;
}
.bg-img-left-side-content{
    padding-left: 20px;
}
.bg-img-h1{
color: white;
font-size: 65px;
}
.bg-img-p1{
    margin-top: 35px;
}
.bg-img-para{
color: white;
font-size: 29px;
}
.ourservices-btn{
    background: white;
    border: none;
    padding: 14px 39px;
    border-radius: 12px;
    font-size: 19px;
    font-weight: 500;
    border: 2px solid #fff;
    transition: 0.5s ease;
    margin-top: 45px;
}
.ourservices-btn:hover{
    background: transparent;
    color: #fff;
}
.bg-img-right-side-content-conatiner{
    position: relative;
}
.bg-img-right-side-content{
    background: #fff;
    border-radius: 15px;
    text-align: center;
    width: 65%;
    position: absolute;
    box-shadow: 0 0 12px grey;
}
.richardMadsen-img{
    border-radius: 50%;
    padding: 26px;
    max-width: 32%;
}
.Marketing-Consultant-Expert{
    margin-top: 8px;
    color: grey;
    font-size: 20px;
    padding: 18px;
}
.PhoneNumber{
    margin-top: 8px;
    padding-bottom: 12px;
}
.phone-number{
    color: var(--hover-color);
    font-size: 18px;
    font-weight: 500;
}
.bg-img-right-side-content-input-form{
    padding: 12px;
    width: 93%;
    margin-left: 13px;
    margin-top: 13px;
    border-radius: 9px;
    box-shadow: none !important;
}
.bg-img-right-side-content-input-form:hover{
    border-color:rgba(235, 87, 8, 0.418);
}
.get-a-callback-btn{
    background: var(--hover-color);
    border: none;
    width: 93%;
    border-radius: 7px;
    padding: 12px;
    margin-top: 13px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    transition: 0.5s ease;
}
.get-a-callback-btn:hover{
background-color: var(--btn-color);
}
.bg-img-right-side-content-last-text{
    color: grey;
    font-size: 14px;
    padding: 14px 0;
}
.side-fixed-icon-container{
    position: fixed;
    right: 2%;
    top: 20%;
    z-index: 2;
}
.demos-icon-container{
background-color: #fff;
width: 10%;
    border-radius: 10px;
    text-align: center;
    cursor:pointer;
    height: 60px;
    width: 65px;
    box-shadow: -1px 1px 9px 3px #bebcbca1;
}
.demos-icon{
font-size: 25px;
color: #595050;
margin-top: 8px;
margin-left: 18px;
}
.demos-icon-text{
    font-size: 14px;
    color: #595050;
    font-weight: 500;
}
.buy-now-icon-container{
    margin-top: 10px;
    background-color: #fff;
    width: 65px;
    height: 60px;
    border-radius: 10px;
    text-align: center;
    cursor:pointer;
    box-shadow: -1px 1px 9px 3px #bebcbca1;
}
.buy-now-icon{
   font-size: 25px; 
   color: #595050;
   margin-top: 8px;
   margin-left: 16px;
}
.buy-now-icon-text{
    font-size: 14px;
    color: #595050;
    font-weight: 500;
}

/* icon animation */

.cartIcons{
    overflow: hidden;
}
.cartIcons .bni1{
    transition: .4s ease;
}
.cartIcons .bni2{
    transform: translateX(101px);
    transition: .4s ease; 
}
.cartIcons:hover .bni2{
    transform: translateX(-44px);
}
.cartIcons:hover .bni1{
    transform: translateX(-101px);
    transition: .4s ease;
}
.cartIcons .di1{
    transition: .4s ease;
}
.cartIcons .di2{
    transform: translateX(101px);
    transition: .4s ease; 
}
.cartIcons:hover .di2{
    transform: translateX(-44px);
}
.cartIcons:hover .di1{
    transform: translateX(-101px);
    transition: .4s ease;
}
/* MODAL */
.zoom-img{
    transition: 0.4s ease;
    cursor:pointer;
}
.zoom-img:hover{
    transform: scale(0.8); 
   box-shadow: 0px 9px 16px 7px #8080806e;
}
.buy-avad-now-btn-container{
    overflow: hidden;
}
.buy-avada-now-btn:hover{
    background: #58a86c;
}
.buy-avada-now-btn{
    border: none;
    background: var(--modal-btn-colo);
    width: 90%;
    padding: 9px;
    color: #fff;
    font-size: 17px;
    border-radius: 9px;
    margin: 13px 0;
    height: 42px;
    overflow: hidden;
}
.buy-avada-now-icon{
    transform: translateY(-59px);
    transition: 0.4s ease;
}
.buy-avad-now-btn-container:hover .ban{
    transform: translateY(43px);
    transition: 0.4s ease;
    
}
.buy-avad-now-btn-container:hover .buy-avada-now-icon{
transform: translateY(-24px);
}
.modal-icon-container{
    padding: 9px 0;
    justify-content: center;
    width: 90%;
    cursor: pointer;
}
.fb-icon-container{
    background: #5728ef;
    border-radius: 50%;
    height: 34px;
    width: 36px;
    text-align: center;
}
.modal-fb-icon{
transition: 0.4s ease
}
.fb-icon-container:hover .modal-fb-icon{
    transform: translateY(26px);
}
.twitter-icon-container{
    background: #37c6db;
    border-radius: 50%;
    height: 34px;
    width: 36px;
    text-align: center;
    margin-left: 12px;
}
.modal-twitter-icon{
transition: 0.4s ease
}
.twitter-icon-container:hover .modal-twitter-icon{
transform: translateY(26px);
}
.insta-icon-container{
    border-radius: 50%;
    background: #6d6def;
    height: 34px;
    width: 36px;
    text-align: center;
    margin-left: 12px;
}
.modal-insta-icon{
transition: 0.4s ease
}
.insta-icon-container:hover .modal-insta-icon{
transform: translateY(26px);
}
.youtube-icon-container{
    border-radius: 50%;
    background: #d50606;
    height: 34px;
    width: 36px;
    text-align: center;
    margin-left: 12px;
}
.modal-youtube-icon{
transition: 0.4s ease
}
.youtube-icon-container:hover .modal-youtube-icon{
    transform: translateY(26px);
}
.modal-icon{
    color: #fff;
    margin-top: 9px;
}
.modal-text-below-icons{
    margin-top: 10px;
}
.modal-text-below-icons-text{
    cursor: pointer;
}
.mid-line{
    border-left: 1px solid  grey;
    opacity: 0.3;
    height: 18px;
    margin: 0 7px;
}
.horizontal-line{
height: 1px;
width: 100%;
background-color: #dbd6d68a;
margin-top: 27px;
}
.modal-form{
    margin-top: 25px;
    box-shadow: none !important;
    width: 90%;
    padding: 9px;
}
.modal-form:focus{
    border-color: red;
}
._catogories{
    font-weight: 500;
    color: black;
    font-size: 18px;
    padding-top: 16px;
}
.catagories-dropdown-arrow{
    font-weight: 300;
    font-size: 14px;
    margin-left: 103px;
    color: #dbd6d6;
}
.catogories-sub-menu-container{
    border: none;
    padding-top: 1px;
}
.catogories-sub-menu-item{
    display: block;
    padding: 2px 0;
    transition: 0.5s ease;
}
.catogories-sub-menu-item:hover{
color: var(--modal-btn-colo);
}
/* BUSINESS GROWTH SECTIION */
.business-growth-section{
    margin-top: 70px;
}
.bussiness-growth-imgs-container{
    position: relative;
    width: 80%;
}
.business-growth-img1{
position: absolute;
}
.business-growth-img2{
position: absolute;
}
.business-growth-img3{
position: absolute;
}
.business-growth-img4{
    position: absolute;
}
.business-growth-right-side-content{
    display: flex;
    flex-direction: column;
    height: 448px;
    justify-content: space-between;
    width: 75%;
}
.business-growth-icon-container{
    background-color: #0894ed;
    border-radius: 50%;
    width: 51px;
    height: 49px;
    color: white;
    padding: 14px 15px;
}
.business-growth-icon{
    font-weight: 600;
    font-size: 22px;
}
.business-growth{
    font-size: 22px;
    font-weight: 600;
    margin-left: 13px;
    margin-top: 8px;
    color: black;
}
.Increase-Brand-Awareness{
    color: black;
    font-size: 48px;
}
.growth-business-para{
    color: black;
    font-size: 23px;
    font-weight: 400;
}
.GetaConsultaion-btn{
    background: var(--hover-color);
    color: white;
    border: none;
    padding: 13px 48px;
    font-weight: 500;
    font-size: 17px;
    border-radius: 8px;
    transition: 0.5s ease;
    cursor: pointer;
}
.GetaConsultaion-btn:hover{
    background: var(--btn-color);
}
/* INVESTORS IN PEOPLE SECTION */
.investors-in-people-section{
    margin-top: 100px;
}
.investors-in-people-left-side-content{
    display: flex;
    flex-direction: column;
    height: 448px;
    justify-content: space-between;
    width: 80%;
}
.investors-in-people-icon-container{
    background-color: #edbf08d6;
    border-radius: 50%;
    width: 51px;
    height: 49px;
    color: white;
    padding: 14px 15px;
}
.Investors-In-People{
    font-size: 22px;
    font-weight: 600;
    margin-left: 13px;
    margin-top: 8px;
    color: black;
}
.In-House-Sales-Training{
    color: black;
    font-size: 48px;
}
.investors-in-people-imgs-container{
position: relative;
}
.investors-in-people-img{
    position: absolute;
    top: -78px;
    left: -74px;
}
.investors-in-people-img1{
position: absolute;
top: 208px;
    left: 7px;
}
.investors-in-people-img2{
position: absolute;
right: 135px;
    top: 27px;
}
.investors-in-people-img3{
    position: absolute;
    right: 36px;
    top: 143px;
    max-width: 289px;
}
.investors-in-people-img4{
position: absolute;
right: 21px;
    top: 95px;
}
/* SOCIAL MEDIA ANALYSIS */
.social-media-analysis-section{
    margin-top: 100px;
}
.social-media-analysis-right-side-content{
    display: flex;
    flex-direction: column;
    height: 448px;
    justify-content: space-between;
    width: 74%;
    margin-left: auto;
    margin-right: auto;
}
.Social-Media-Analysis{
    font-size: 22px;
    font-weight: 600;
    margin-left: 13px;
    margin-top: 8px;
    color: black;
}
.Harness-Your-Social-Proof{
    color: black;
    font-size: 48px;
}
.socail-media-analysis-icon-container{
    background-color: #0fc84bd6;
    border-radius: 50%;
    width: 51px;
    height: 49px;
    color: white;
    padding: 14px 15px;
}
.social-media-analysis-imgs-container{
    position: relative;
}
.social-media-analysis-img1{
position: absolute;
width: 70%;
}
.social-media-analysis-img2{
position: absolute;
top: 138px;
    right: 136px;
    width: 62%;
}
.social-media-analysis-img3{
position: absolute;
right: 147px;
    top: 116px;
    width: 64%;
}
.social-media-analysis-img4{
position: absolute;
top: 335px;
    right: 198px;
    width: 37%;
}
.social-media-analysis-img5{
position: absolute;
width: 60%;
left: -128px;
    top: 63px;
}
/* BRANDS NAME SECTION */
.brands-name-section{
    margin-top: 100px;
    text-align: center;
}
.brands-heading{
    color: black;
    font-size: 52px;
}
.brands-line{
    color: black;
    font-size: 22px;
    margin-top: 20px;
}
.brands-img{
    width: 73%;
    margin-top: 40px;
}
/* SANDY REIFF NAVBAR */
.SandyReiff-navbar{
    box-shadow: 0px 9px 7px 3px #e7e2e2;
    height: 86px;
    border-radius: 7px;
    margin-bottom: 20px;
    margin-top: 70px;
}
.sandy-reiff-first-section{
    align-items: center;
    margin-top: 10px;  
    margin-left: 12px; 
}
.sandy-reiff-img-container{
    align-self: center;
    text-align: center;
}
.sandy-reiff-img{
    border-radius: 50%;
    width: 54%;
}
.sandy-reiff{
color: black;
}
.Marketing-Consultant-Expert{
    font-size: 14px;
    color: black;
   padding: 0;
}
.Drive-Leads-and-Sales-with-Avada{
    color: black;
    margin-left: 26px;
}
.SandyReiff-btn{
    background: #ffe7da;
    border: none;
    padding: 12px 36px;
    color: var(--hover-color);
    border-radius: 6px;
    font-weight: 700;
    transition: 0.4s ease;
}
.SandyReiff-btn:hover{
background: var(--hover-color);
color: white;
}
.Sandy-phone-icon{
    transition: 0.4s ease;
}
.SandyReiff-btn:hover .Sandy-phone-icon{
    color: white;
}
/*  ORGANIZATION DETAIL */
.Organization-columns{
    width: 31%;
}
.organization-heading{
    text-align: center;
    color: black;
    font-size: 50px;
    padding: 92px 0;
}
.organization-img-container{
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
    
}
.organization-detail{
    color: black;
    margin-top: 28px;
    font-size: 1.8rem;
}

hr.organization-line{
    border-top: 1px dashed #f2f2f2;
    margin: 22px 0;
}
.organization-number{
    color: black;
    font-size: 53px;
}
.Organization-p{
    font-size: 19px;
    font-weight: 400;
    color: black;
}
.organization-img-overlay{
position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    background: linear-gradient(1deg, #ef915f, transparent);
    opacity: 0.9;
    /* transition-duration: .6s; */
    /* transition-timing-function: linear; */
    transition: 0.9s ease;
    display: none;
}
.organization-img-container:hover .organization-img-overlay{
    display: block;
}
.rmcs-btn{
    text-align: center;
}
.read-more-case-studies-btn{
    border: none;
    background: var(--hover-color);
    color: white;  
    border-radius: 5px;
    padding: 14px 36px;
    font-size: 17px;
    font-weight: 500;
    transition: 0.4s ease;
    margin: 76px 0;
}
.read-more-case-studies-btn:hover{
background: var(--btn-color);
}
/* BOOST SECTION */
.colored{
    /* background: rgb(235 234 234 / 33%); */
    background: linear-gradient(175deg, rgb(235 234 234 / 43%), rgb(235 234 234 / 18%));
}
.boost-section{
    padding-top: 120px;
}
.boost-left-section{
    width: 71%;
    display: flex;
    flex-direction: column;
    height: 91%;
    justify-content: space-evenly;
    margin-left: auto;
    margin-right: auto;
}
.boost-heading{
    color: black;
    font-size: 50px;
}
.boost-para{
    color: black;
    font-size: 20px;
}
.why-work-with-us-btn{
    background: var(--hover-color);
    color: white;
    border: none;
    padding: 11px 36px;
    font-weight: 500;
    border-radius: 7px;
    font-size: 17px;
    width: 48%;
    transition: .4s ease;
}
.why-work-with-us-btn:hover{
    background: var(--btn-color);
}
.boost-img-container{
    margin-right: 22px;
}
.boost-img{
    border-radius: 10px;

}
/* BOOST NEXT SECTION */
.Boost-second-section{
    margin-top: 110px;
}
.boost-second-section-left-side-content{
    width: 84%;
    height: 307px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.We-Build-Relationships{
color: black;
}
.We-Build-Relationships-para{
color: black;
font-size: 20px;
    margin-top: 17px;
}
.Proprietary-Processes{
color: black;
}
.Proprietary-Processes-para{
color: black;
font-size: 20px;
    margin-top: 17px;
}
.boost-second-section-right-side-content{
    height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 42px;
}
.Accountability-icon-container{
    border: 2px solid #f86011;;
    height: 100%;
    border-radius: 16px;
}
.Accountability-icon-container:hover + .Accountability-content h4{
    color: var(--hover-color);
}
.Accountability-icon{
color: var(--hover-color);
font-size: 30px;
padding: 19px 26px;
}
.Accountability-content{
    margin-left: 25px;

}
.Accountability{
color: black;
transition: .4s ease;
}
.Accountability:hover{
    color: var(--hover-color);
}
.Accountability-line{
color: black;
font-size: 20px;
margin-top: 15px;
}
/* AWARD SECTION */
.awards-heading-container{
    margin-top: 105px;
}
.awards{
    color: black;
    text-align: center;
    padding: 15px 0;
}
.awards-row{
    --bs-gutter-x: 0;
    margin-top: 25px;
    padding-bottom: 80px;
}
.awards-img{
    width: 45%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.awards-img-content{
    text-align: center;
    margin-top: 2px;
    font-size: 18px;
    color: black;
}
/* KATE SCHADLER SECTION */
.KATE-SCHADLER-SECTION{
    margin-top: 100px;
    margin-bottom: 22px;
}
.Kate-Schadler-img{
    border-radius: 10px;
    box-shadow: 9px 15px 15px 3px #dfdddd;
}
.kate-schadler-right-side-content{
    width: 81%;
    margin-left: auto;
}
.Kate-Schadler-content{
color: black;
}
.Kate-Schadler-name{
    font-size: 18px;
    padding-top: 40px;
}
.Kate-Schadler-position{
font-size: 13px;
padding-top: 7px;
}
/* MARKETING RESOURCES SECTION */
.colored2{
    background: linear-gradient(175deg, rgb(235 234 234 / 47%), rgb(235 234 234 / 18%));
    margin-top: 80px;
    padding-top: 94px;
}
.Marketing-Resources-top-left{
    margin-left: 20px;
}
.Marketing-Resources-heading{
    color: black;
    font-size: 50px;
}
.Marketing-Resources-heading-detail{
    color: black;
    font-size: 50px;
}
.explore-all-resources-btn-container{
    position: relative;
}
.explore-all-resources-btn{
background: var(--hover-color);
color: white;
border: none;
padding: 9px 72px;
    font-weight: 500;
    font-size: 18px;
    border-radius: 11px;
    width: 36%;
    position: absolute;
    right: 4%;
    top: 115px;
}
/* MARKETING RESOURCES IMAGES SECTION */
.MARKETING-RESOURCES-IMAGES-SECTION{
    margin-top: 100px;
}
.marketing-resources-imgs-section{
    width: 94%;
    margin: 0 auto;
}
.mris1{
margin-left: 20px;
}
.mris3{
margin-right: 20px;
}
.marketing-resources-imgs-container{
    cursor: pointer;
    position: relative;
    transition: 0.5s ease;
}
.marketing-resources-img-text{
    margin-top: 23px;
    color: black;
}
.marketing-resources-imgs-container:hover .organization-img-overlay{
    display: block;
}
/* FOOTER 1 */
.footer1{
    margin-top: 100px;
    background: black;
    padding: 100px 0;
}
.footer1-left-side-content{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    width: 92%;
    margin: 0 auto;
}
.footer1-text1{
color: white;
font-size: 68px;
}
.footer1-text2{
color: white;
font-size: 30px;
font-weight: 400;
}
.footer1-mid-line{
    height: 1px;
    width: 20%;
    background: grey;
}
.footer1-text3{
color: white;
font-size: 19px;
    font-style: italic;
}
.footer1-text4{
color: white;
font-size: 20px;
}
.footer1-text5{
color: white;
font-size: 14px;
margin-top: 5px;
}
.footer1-right-side-content{
    background: #fff;
    border-radius: 15px;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
/* FOOTER 2 */
.footer2{
    margin-top: 100px;
}
.footer2-content-container{
    width: 92%;
    margin: 0 auto;
}
.footer2-content{
color: black;
font-size: 31px;
}
.footer-2-icons-conatiner{
    margin-top: 34px;
    width: 46%;
    display: flex;
    justify-content: space-between;
}
.footer2-icon{
color: black;
font-size: 21px;
transition: 0.4s ease;
}
.footer2-icon:hover{
    color: #323232;
}
/* tooltip */
.footer2-fb-icon {
    position: relative;
    display: inline-block;
  }
  
  .footer2-fb-icon .tooltiptext {
    visibility: hidden;
    /* width: 70px; */
    background-color: #323232;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 142%;
    /* left: -204%; */
    font-size: 14px;
  }
  
  .footer2-fb-icon .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #323232 transparent transparent transparent;
  }
  
  .footer2-fb-icon:hover .tooltiptext {
    visibility: visible;
  }
.tt-fb{
    left: -204%;
    width: 70px;
}
.tt-twitter{
    left: -72%!important;
    width: 54px !important;
}
.tt-insta{
    width: 65px;
    left: -120%;
}
.tt-youtube{
    width: 63px;
    left: -76%;
}
.tt-LI{
    width: 64px;
    left: -102%;
}
.footer2-h{
color: black;
}
.footer2-servicesh{
    height: 284px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer2-services{
    font-size: 19px;
    color: #2e2e2e;
    position: relative;
    cursor: pointer;
    transition: 0.5s ease;
}
.footer2-services:hover{
    color: var(--hover-color);
}
.f2content::after{
    content: "";
    height: 25px;
    width: 2px;
    display: inline-block;
    margin-left: -2px;
    background: var(--hover-color);
    position: absolute;
    top: 10%;
    transition: right .5s ease;
    right: 30px;
    opacity: 0; 
}
.f2content:hover::after{
    opacity: 1;
    right: 0;
}
.footer2-resourcesh{
    height: 201px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer2-resources{
    font-size: 19px;
    color: #2e2e2e;
    position: relative;
}
.footer2-companyh{
    height: 159px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer2-comapanies{
    font-size: 19px;
    color: #2e2e2e;
    position: relative;
}
.footer3{
    margin-top: 100px;
}
.twentytwenty{
    margin-left: 16px;
}
/* MEDIA QUERY */
@media  (min-width: 300px) and (max-width: 768px)  {
    /* NAVBAR */
    .NavContainer {
        height: 64px;
    }
    .navbar-collapse{
        position: absolute;
        top: 100%;
    }
    .navbar-toggler {
        width: 42px;
        right: 2%;
        position: absolute;
        top: 18%;
    }
    .hamburger-icon{
        margin-top: 6px;
    font-size: 23px;
    }
    .navbar-toggler:focus{
        box-shadow: none;
    }
    .nav-names-container {
        background: white;
    }
    .navbar-btn-and-number-container{
        display: none;
    }
    /* SIDE FIXED ICONS */
    .side-fixed-icon-container {
        right: 5%;
        top: 66%;
    }
    .demos-icon-container {
        height: 43px;
        width: 49px;
    }
    .demos-icon-text{
        display: none;
    }
    .demos-icon{
        margin-left: 11px;
    }
    .buy-now-icon-container {
        width: 49px;
        height: 43px;
    }
    .buy-now-icon-text{
        display: none;
    }
    .bni1{
        margin-left: 10px;
    }
    .bni2{
        margin-left: 13px;
    }
    /* BG IMAGE CONTENT */
    .bg-img-left-side-content{
        text-align: center;
    }
    .bg-img-h1 {
        font-size: 49px;
        text-align: center;
    }
    .bg-img-para {
        font-size: 26px;
        text-align: center;
    }
    .bg-img-right-side-content {
        margin-top: 40px;
        width: 83%;
        position: inherit;
    }
    .bg-img-row {
       padding-bottom: 0 !important;
    }
/* BUSINESS GROWTH SECTIION */
   .business-growth-section {
        margin-top: 40px;
    }
    .bussiness-growth-imgs-container{
        height: 430px;
        margin: 0 auto;
    }
    .business-growth-img{
        width: 89%;
    }
    .business-growth-right-side-content{
        width: 100%;
        margin-top: 66px;
    }
    .Increase-Brand-Awareness {
        font-size: 43px;
    }
    .business-growth-right-side-content {
        height: 340px;
    }
    /* INVESTORS IN PEOPLE SECTION */
    .investors-in-people-section {
        margin-top: 30px;
    }
    .investors-in-people-imgs-container {
        height: 361px;
        margin-top: 81px;
    }
    .investors-in-people-img {
        width: 100%;
    }
    .investors-in-people-img1 {
        top: 170px;
        left: -36px;
        width: 26%;
    }
    .investors-in-people-img2 {
        right: 201px;
        top: 27px;
        width: 52%;
    }
    .investors-in-people-img3 {
        right: 129px;
        top: 107px;
        width: 43%;
    }
    .investors-in-people-img4 {
        right: 114px;
        top: 51px;
        width: 18%;
    }
    .investors-in-people-left-side-content {
        height: 354px;
        width: 100%;
    }
    .In-House-Sales-Training {
        font-size: 43px;
    }
    /* SOCIAL MEDIA ANALYSIS */
    .social-media-analysis-imgs-container{
        display: none;
    }
    .social-media-analysis-right-side-content {
        height: 341px;
       width: 100%;
    }
    .Harness-Your-Social-Proof {
        font-size: 43px;
    }
    /* BRANDS NAME SECTION */
    .brands-heading {
        font-size: 40px;
    }
    .brands-line {
        font-size: 24px;
    }
    .brands-section{
        flex-wrap: nowrap;
        overflow: auto;
    }
    .brands-img {
        width: 38%;
    }
    /* SANDY REIFF NAVBAR */
    .sandy-reiff-first-section {
        flex-direction: column;
    }
    .SandyReiff-navbar {
        height: 262px;
        margin-top: 41px;
        display: flex;
        text-align: center;
    }
    /* ORGANIZATION DETAIL */
    .organization-heading {
        font-size: 40px;
        padding: 50px 0;
    }
    .organization-number {
        font-size: 42px;
    }
    /* BOOST SECTION */
    .boost-section {
        padding-top: 48px;
        margin: 0 10px;
    }
    .boost-left-section{
        width: 100%;
    }
    .boost-heading {
        font-size: 41px;
    }
    .boost-left-section{
        height: 350px;
    }
    .boost-img-container {
        margin-right: 0;
        margin-top: 43px;
    }
    .boost-second-section-left-side-content {
        width: 100%;
        height: 243px;
        margin: 0 11px;
    }
    .boost-second-section-right-side-content {
        height: 297px;
        margin-left: 14px;
        margin-top: 52px;
    }
    /* AWARD SECTION */
    .awards-heading-container {
        margin-top: 46px;
    }
/* KATE SCHADLER SECTION */
    .Kate-Schadler-img-container{
        margin: 0 19px;
    }
    .kate-schadler-right-side-content {
        width: 91%;
        margin: 0 25px;
        margin-top: 38px;
    }
    /* MARKETING RESOURCES SECTION */
    .Marketing-Resources-heading {
        font-size: 39px;
    }
    .Marketing-Resources-heading-detail {
        font-size: 39px;
    }
    .mrsi2{
        margin-top: 52px;
    }
    .mrsi3{
        margin-top: 52px;
    }
    /* FOOTER 1 */
    .footer1-text1 {
        font-size: 50px;
    }
    .footer1-text2 {
        font-size: 29px;
    }
    .footer1-left-side-content{
        height: 522px;
    }
    .footer1-right-side-content {
        width: 93%;
        margin-top: 52px;
    }
    .footer1 {
        padding: 47px 0;
    }
    /* FOOTER 2 */
    .footer2-content-container{
        width: 100%;
    }
    .footer2-content {
        font-size: 27px;
        text-align: center;
    }
    .footer-2-icons-conatiner {
        margin: 0 auto;
        margin-top: 28px;
    }
    .footer2-servicesh {
        align-items: center;
        justify-content: center;
    }
    .sm-margin-top{
        margin-top: 25px !important;
    }
    .footer2-resourcesh{
        align-items: center;
        justify-content: center;
        height: 241px;
    }
    .footer2-companyh{
        align-items: center;
        justify-content: center;
    }
    .f2content{
        margin-top: 7px;
    }
    .last{
        display: flex;
    text-align: center;
    height: 166px;
    }
    .second-last-col{
        display: none;
    }

}